html{
    background-color: aqua;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif !important;
  color: #0f0f2b !important;
  background: linear-gradient(to bottom right, #ffd054, #f67454);
  min-height: 86.5vh;
}
main {
  margin-top: 7rem;
  max-width: 587px;
  width: 95%;
  box-shadow: 0 10px 10px #d8d2f4;
}
main img {
  width: 170px;
  height: 170px;
}
main .infos .category {
  font-size: 0.875rem;
  cursor: pointer;
  max-width: 107px;
  width: 100%;
  background-color: #e6e6f1;
}
main .infos .date {
  color: #7676b3;
}
main .infos p {
  font-size: 1.125rem;
  max-width: 319px;
  width: 100%;
}
@media (max-width: 590px) {
  main .infos p {
    max-width: 100%;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}

header {
    background-color: #0070ba;
    color: white;
    padding: 6px;
    text-align: center;
    height: 48px;
    align-items: center;
}
header li{
    list-style: none;
    display: inline;
    margin: 0 15px;
    
}
header li a{
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
header li a:hover{
    color: yellow;
    border-bottom: 1px solid yellow;
    text-decoration: none;
    transition: border-bottom 1s linear;
}
header ul{
  margin: 0 auto;
  margin-top: 1rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    top: 2rem;
}

/* ======- BODY -======*/
body {
    min-height: 100vh;
    background-color: #1a1e21;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
  min-height: 100vh;
}
header h1 {
    font-family: Black Ops One;
}

/* clicked link effect */
a, a:visited {
    text-decoration: none;
}

content a, content a:visited {
    text-decoration: none;
    color: black;
    font-family: Fruktur;
    font-size: 24px;
}

content a p:hover{
    background-color: yellow;
}

/* ======- FOOTER -====== */
footer {
    /* position: absolute;
    right: 0;
    bottom: 0;
    left: 0; */
    padding: 0.5rem;
    background-color: #efefef;
    text-align: center;
}

/* footer text */
footer div p{
    font-family: rubik one;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer div p i.red{
    color: red;
    size: 24px;
}

/* footer text effects */
footer div p span{
    transition: background-color,color 1500ms ease;
    background-color: black;
    color: white;
}

footer div p span:hover{
    background-color:white ;
    color: black;
}

/* Footer Image Links */
footer a.github {
    -webkit-transition:color 500ms ease;
    -moz-transition:color 500ms ease;
    -o-transition:color 500ms ease;
    transition: color 500ms ease;
    font-size: 3em;
    color: rgb(13,38,54);
    padding: 10px;
    display:inline-block;
}

footer a.codepen {
    -webkit-transition:color 500ms ease;
    -moz-transition:color 500ms ease;
    -o-transition:color 500ms ease;
    transition: color 500ms ease;
    font-size: 3em;
    color: black;
    padding: 10px;
    display:inline-block;
}

/* image links hover effects */
footer a.github:hover {
    color: darkgray;
}

footer a.codepen:hover {
    color: darkgray;
}

/* Resposive Footer */
footer.mobile {
    display:none;
}

@media screen and (max-width: 400px) {
    footer.pc {
        display:none;
    }
    footer.mobile {
        display:block;
    }
    footer.mobile div p {
        font-size: 15px;
    }

}